body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f8f8f8;
    color: #58585a;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto Slab', serif;
}

.page-wrapper {
    max-width: 1200px;
    margin: 60px auto;
    padding-bottom: 20px;
    background-color: white;
}

.inner-wrapper {
    padding: 30px 50px;
}

.col-bg {
    padding: 20px 20px 10px 50px;
}

.bg--red {
    background-color: #da1f3d;
}

.bg--green {
    background-color: #22b24c;
}

.bg--gray {
    background-color: #e7e7e8;
}

.bg--bluetint-gray {
    background-color: #f0f6fc;
}

.bg--greentint-gray {
    background-color: #f4faf3;
}

.bg--purple {
    background-color: #8a288f;
}

.bg--light-purple {
    background-color: #b88bbf;
}

.bg--lighter-purple {
    background-color: #f6f1f8;
}

.bg--blue {
    background-color: #0089d0;
}

.bg--light-blue {
    background-color: #5aacdf;
}

.bg--lighter-blue {
    background-color: #c7def4;
}

.bg--orange {
    background-color: #f5821f;
}

.bg--light-orange {
    background-color: #fab072;
}

.bg--lighter-orange {
    background-color: #fef7f0;
}

.color--white {
    color: white;
}

.color--orange {
    color: #f5821f;
}

.color--purple {
    color: #8a288f;
}

.color--blue {
    color: #0089d0;
}

.exercise {
    padding: 10px;
    margin-bottom: 15px;
}

.lesson__title {
    line-height: 3;
}

.lesson__title {}

.exercise__title {
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    width: 100%;
    max-width: 220px;
    font-size: 16px;
    line-height: 1.8;
}

.exercise__question {
    font-size: 14px;
}

.exercise__answer {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    font-size: 14px;
    resize: none;
}

.exercice__no {
    font-weight: bold;
}

.exercise__list {
    margin: 0;
    padding-left: 16px;
    list-style-type: square;
}

.table__spacer {
    height: 40px;
}

.triangle-placeholder {
    position: relative;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #0089d0;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -30px;
}

.table-borderless .border--blue {
    border-right: 10px solid #f0f6fc;
}

.table-primary tbody+tbody,
.table-primary td,
.table-primary th,
.table-primary thead th {
    border-color: white;
}

.table-primary {
    background-color: #c7def4;
}

.table-primary thead th {
    background: #5aacdf;
    color: white;
    text-align: center;
}

.exercise__answer::-webkit-input-placeholder {
    /* Edge */
    color: white;
}

.exercise__answer:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.exercise__answer::placeholder {
    color: white;
}

.page-no {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-right: -20px;
    margin-bottom: -20px;
}

@media screen and (max-width: 992px) {
    .exercise__answer {
        min-height: 100px;
    }
}

@media screen and (max-width: 760px) {
    .inner-wrapper {
        padding: 30px 5px;
    }
    .page-no {
        margin: 0;
    }
    header h4.text-right {
        text-align: left !important;
    }
    .table td,
    .table th {
        padding: 5px;
        font-size: 13px;
    }
    .triangle {
        bottom: -27px;
    }
    .page-wrapper {
        margin: 0 auto;
    }
}